.navbar {
    background-color: black;
    width: 100%;
    padding-left: 10px;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
     text-decoration: none;
     line-height: 50px;
     color: white;
     margin-right: 5px;
}